* {
    box-sizing: border-box;
}

body {
     font-family: 'Source Sans Pro', sans-serif;
     color: #404040; 
     margin: 0;
     padding: 0;
     text-align: center;
     font-size: 1rem;
}

/* =================
   Typography 
   ================= */

h1 {
    font-size: 2.25rem;
    font-weight: 300;
    color: #fff ;
    margin: 0;
}

h1 + p {
color: #f18119;
font-weight: 900;
font-size: 1.3125rem;
text-transform: uppercase;
margin: 0;
}

h2 {
    font-size: 1.3125rem;
    letter-spacing: 1px;
    margin: 0;
}

h2 + p {
    font-weight: 900;
    color: #F18119;
    margin-top: 0;
    text-transform: uppercase;
}

.top-text {
    color: #F18119;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.625rem;
    order: -1;
}

.fine-print {
    font-size: 0.625rem;
    letter-spacing: 1px;
}

strong {
    font-weight: 900; 
    color: #fff;
}

p {
    letter-spacing: 1px;
}

/* =================
   Intro section 
   ================= */

   .intro {
    display: flex;
    flex-flow: column;
    padding: 0 .5em 2em;
    background-color: #404040;
    background-image: url("https://raw.githubusercontent.com/kevin-powell/reponsive-web-design-bootcamp/master/Module%203%20-%20BBQ%20splash%20page/images/dark-ribs.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-between;
    min-height: 50vh;
}

/* =================
   main-content section 
   ================= */
   
.main-content {
    color: #404040;
    background-color: #fff;
    padding: 2em 1em;
}  

.intro > *,
.main-content > * {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}


/* =================
   media queries 
   ================= */

@media (min-width: 500px) {
    body {
        font-size: 1.125rem;
        display: flex;
    }

    h1 {
        font-size: 3.5rem;
    }

    h1 +p,
    h2 {
        font-size: 1.75rem;
    }

    .intro {
        align-items: center;
    }

    .intro,
    .main-content {
        width: 50%;
        min-height: 100vh;
    }

    .main-content  {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}